In [1]:
# !pip install scikit-learn pandas

import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
# Here is our sample corpus
corpus = [
    'the sky is blue',
    'sky is blue and sky is beautiful',
    'the beautiful sky is so blue',
    'i love blue cheese'
]

print("--- Sample Corpus ---")
for doc in corpus:
    print(doc)

--- Sample Corpus ---
the sky is blue
sky is blue and sky is beautiful
the beautiful sky is so blue
i love blue cheese

In [3]:
freq_vectorizer = CountVectorizer()

freq_feature_matrix = freq_vectorizer.fit_transform(corpus)

vocabulary = freq_vectorizer.get_feature_names_out()

print("--- Model Vocabulary ---")
print(vocabulary)

--- Model Vocabulary ---
['and' 'beautiful' 'blue' 'cheese' 'is' 'love' 'sky' 'so' 'the']

In [4]:
df_freq_features = pd.DataFrame(
    freq_feature_matrix.toarray(), 
    columns=vocabulary
)

print("--- Frequency Feature Matrix (Term Counts) ---")
df_freq_features

--- Frequency Feature Matrix (Term Counts) ---

   and  beautiful  blue  cheese  is  love  sky  so  the
0    0          0     1       0   1     0    1   0    1
1    1          1     1       0   2     0    2   0    0
2    0          1     1       0   1     0    1   1    1
3    0          0     1       1   0     1    0   0    0