In [1]:
# !pip install scikit-learn pandas

import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]

print("--- Sample Corpus ---")
for doc in corpus:
    print(doc)

--- Sample Corpus ---
This is the first document.
This document is the second document.
And this is the third one.
Is this the first document?

In [3]:
tfidf_vectorizer = TfidfVectorizer()

tfidf_matrix = tfidf_vectorizer.fit_transform(corpus)

vocabulary = tfidf_vectorizer.get_feature_names_out()

print("--- Model Vocabulary ---")
print(vocabulary)

--- Model Vocabulary ---
['and' 'document' 'first' 'is' 'one' 'second' 'the' 'third' 'this']

In [4]:
df_tfidf = pd.DataFrame(
    tfidf_matrix.toarray(), 
    columns=vocabulary
)

print("--- TF-IDF Feature Matrix ---")
df_tfidf

--- TF-IDF Feature Matrix ---

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085