In [1]:
# !pip install pandas scikit-learn
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
corpus = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]
print("--- Corpus ---")
for doc in corpus:
    print(doc)

--- Corpus ---
This is the first document.
This document is the second document.
And this is the third one.
Is this the first document?

In [3]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(corpus)

feature_names = vectorizer.get_feature_names_out()

print("--- Vocabulary (Features) ---")
print(feature_names)
print("--- TF-IDF Matrix Shape ---")
print(X.shape)

--- Vocabulary (Features) ---
['and' 'document' 'first' 'is' 'one' 'second' 'the' 'third' 'this']
--- TF-IDF Matrix Shape ---
(4, 9)

In [4]:
df_tfidf = pd.DataFrame(X.toarray(), columns=feature_names)
df_tfidf

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085